*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
   }
   body{
       background-color:rgb(55, 169, 245)
   }
   h1{
       color: rgb(59, 56, 56);
   }
   .contain{
       text-align: center;
   }
   
   #card{
       display:inline-block;
       min-width:400px;
       min-height:200px;
       align-items: center;
       box-shadow: 2px 2px 10px;
       margin-top:30px;
       padding-top: 10px;
       border-radius: 10px;
       background-image: linear-gradient(140deg,rgb(112, 162, 236),pink);
       color:rgb(253, 253, 250); 

   }
   #inputval 
   {
      margin-top: 20px;
      border:none;
      border-bottom: solid 1px white;
      font-size: 20px;
      outline:none;
      border-radius: 2px;
      background-color: azure;
      color:rgb(230, 94, 94);
   }
   ::placeholder{
      padding-left: 5px;
   }
   #btn{
      width:80px; 
      height:25px;
      font-size: 17px;
      border-radius: 5px;
      border: transparent;
      margin-left:10px;
      margin-top: 5px;
      color:white;
      background-color: rgb(212, 126, 212);
   }
   #btn:hover{
       cursor: pointer;
       background-color: rgb(230, 97, 230);
   }
   h{
       font-weight: 600;
       font-size: 25px;
       color: rgb(59, 56, 56);;
       font-family: "Gill Sans", sans-serif;
   }
   ul{
       color: black;
       text-align: left;
   }
   #last
   {
       font-size: 15px;
      margin-bottom: 10px;
      width:70px;
      height:30px;
      border-radius: 5px;
      color:white;
      background-color: rgb(212, 126, 212);
      border:transparent;
   }
   #last:hover{
       cursor: pointer;
       background-color: rgb(230, 97, 230);
   }
   h3{
       color:rgb(59, 56, 56);
       margin-top: 10px;
       font-family: 'Oswald', sans-serif;
   }
   .list{
       font-size: 18px;
       font-weight: 400;
       font-weight: 500;
       margin-left:30px;
       margin-top:20px;
       max-width:300px;
       font-family: 'Oswald', sans-serif;
   }
   .btn1{
        display: grid;
        height: 24px;
        font-size: 15px;
        align-items: center;
        border-radius: 5px;
        width:45px;
        margin-top: -21px;
        margin-left:320px; 
        color:white;
      background-color: rgb(212, 126, 212);
      border:transparent;
     
   }
   .btn1:hover{
       cursor: pointer;
       background-color: rgb(230, 97, 230);
   }
